.row-main-div{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #3d4d55;
}
.row-tiles{
    width: 10rem;
    margin: 0.9rem 0;
    text-align: center;
    font-size: 1rem;
    color: #3d4d55;
}

@media only screen and (max-width: 768px){
    .row-tiles{
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 480px){
    .row-tiles{
        font-size: 0.7rem;
    }
}