.row-main-div{
    width: 80%;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.row-tiles{
    width: 10rem;
    margin: 0.9rem 0;
    text-align: center;
    font-size: 1.15rem;
    color: #3d4d55;
}