.row-main-div{
    width: 100%;
    height: 3rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.row-tiles{
    width: 10rem;
    margin: 0.9rem 0;
    text-align: center;
    font-size: 1rem;
    color: #3d4d55;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media only screen and (max-width: 768px){
    .row-main-div{
        height: 2rem;
    }
    .row-tiles{
        width: 8rem;
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 480px){
    .row-tiles{
        width: 3rem;
        font-size: 0.7rem;
    }
}