.profile-inputs-parent-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0 2rem 0;
}
.profile-input-div{
    width: 32rem;
    margin: 1rem 0;
}
.profile-input-title{
    font-size: 1rem;
    color: #3d4d55;
    margin: 0.4rem 0;
}
.profile-input{
    width: 80%;
    height: 1.8rem;
    padding: 0 0.4rem;
    background-color: #f7f7f7;
    border: 1px solid #3d4d55;
    border-radius: 4px;
    font-size: 0.83rem;
}
.profile-btn-div{
    width: 100%;
}
.profile-btn{
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    background-color: #b58863;
    color: #f7f7f7;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}
