.details-modal-main-div{
    width: 25rem;
    height: 23rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: hsl(200, 16%, 29%);
    border-radius: 5px;
}
.details-modal-p{
    font-size: 1.1rem;
    color: #f7f7f7;
    padding: 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.details-modal-btn-div{
    display: flex;
    justify-content: center;
}
.details-modal-close-btn{
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #b58863;
    color: #f7f7f7;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
}

