.manage-pros-main-div{
    width: 100%;
    margin-bottom: 1.5rem;
}
.manage-pros-del-btn{
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #b58863;
    color: #f7f7f7;
    font-size: 1rem;
    cursor: pointer;
}