.modal-main-div{
    width: 19rem;
    height: 11rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #3d4d55;
    box-shadow: 0px 0px 10px -4px #000;
    border-radius: 5px;
    z-index: 1;
}
.modal-message{
    font-size: 1.2rem;
    color: #f7f7f7;
    text-align: center;
    padding: 0 1rem;
    margin-top: 2rem;
}
.modal-btns-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.modal-btn{
    width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #b58863;
    color: #f7f7f7;
    font-size: 1rem;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .modal-main-div{
        width: 17rem;
        height: 10rem;
    }
    .modal-message{
        font-size: 1.1rem;
        margin-top: 1.5rem;
    }
    .modal-btn{
        width: 4rem;
        height: 1.7rem;
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 480px){
    .modal-main-div{
        width: 15rem;
        height: 9rem;
    }
    .modal-message{
        font-size: 1rem;
    }
    .modal-btn{
        width: 3.6rem;
        height: 1.6rem;
        font-size: 0.8rem;
    }
}