.sidebar-main-div{
    width: 15rem;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #3d4d55;
    transition: all 0.1s;
}
.close-menu-btn{
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    margin: 0.5rem 13rem 0 0;
    position: absolute;
    display: none;
}
.close-menu-btn svg{
    font-size: 1.6rem;
    color: #d3c3b9;
}
.user-d-div{
    width: 13rem;
    height: 6rem;
    margin: 0 auto 2rem auto;
    border-bottom: 1px solid #d3c3b9;
    display: flex;
    align-items: center;
}
.user-d-pic-div{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-left: 1.2rem;
    background-color: #fff;
}
.user-d-pic-div svg{
    font-size: 3.5rem;
    color: #dbd9d9;
}
.user-d-username{
    font-size: 1.1rem;
    color: #d3c3b9;
}
.sign-out-btn{
    width: 13rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    background-color: #b58863;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #f7f7f7;
    font-size: 1rem;
    cursor: pointer;
}
.dash-pages-main-div{
    width: 13rem;
    margin: 0 auto;
}
.dash-page-div{
    height: 2rem;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
}
.dash-page-div a{
    color: #d3c3b9;
    text-decoration: none;
    font-size: 1.1rem;
}
.dash-page-div svg{
    color: #d3c3b9;
    font-size: 1.8rem;
    margin-left: 0.5rem;
}

@media only screen and (max-width: 768px){
    .sidebar-main-div{
        right: -15rem;
    }
    .close-menu-btn{
        display: block;
    }
    .user-d-div{
        height: 5rem;
    }
    .user-d-pic-div{
        width: 3rem;
        height: 3rem;
        margin-left: 1rem;
    }
    .user-d-pic-div svg{
        font-size: 3rem;
    }
    .user-d-username{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 480px){
    .sidebar-main-div{
        width: 13rem;
    }
    .close-menu-btn{
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.5rem 11rem 0 0;
    }
    .close-menu-btn svg{
        font-size: 1.5rem;
    }
    .user-d-div{
        height: 4rem;
        width: 12rem;
    }
    .user-d-pic-div{
        width: 2.8rem;
        height: 2.8rem;
        margin-left: 0.9rem;
    }
    .user-d-pic-div svg{
        font-size: 2.8rem;
    }
    .user-d-username{
        font-size: 0.95rem;
    }
    .dash-pages-main-div{
        width: 12rem;
    }
    .dash-page-div a{
        font-size: 1rem;
    }
    .dash-page-div svg{
        font-size: 1.7rem;
    }
    .sign-out-btn{
        width: 11rem;
        height: 2.8rem;
        font-size: 0.9rem;
    }
}