.add-pros-inputs-parent-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.add-pros-input-div{
    width: 32rem;
    margin: 1rem 0;
}
.add-pros-input-title{
    font-size: 1rem;
    color: #3d4d55;
    margin: 0.4rem 0;
}
.add-pros-input{
    width: 80%;
    height: 1.8rem;
    padding: 0 0.4rem;
    background-color: #f7f7f7;
    border: 1px solid #3d4d55;
    border-radius: 4px;
    font-size: 0.83rem;
}
.add-pros-description-input{
    width: 80%;
    height: 7rem;
    padding: 0.4rem;
    background-color: #f7f7f7;
    border: 1px solid #3d4d55;
    border-radius: 4px;
    font-size: 0.83rem;
    resize: none;
}
.add-pros-file-label{
    display: block;
    width: 7rem;
    height: 2.5rem;
    border-radius: 8px;
    background-color: #b58863;
    color: #f7f7f7;
    font-size: 1rem;
    text-align: center;
    line-height: 2.5rem;
    cursor: pointer;
}
.add-pros-file-input{
    display: none;
}
.add-pros-file-name{
    font-size: 0.8rem;
}
.add-pros-btn{
    width: 7rem;
    height: 2.5rem;
    margin: 1.5rem 0;
    border-radius: 8px;
    border: none;
    background-color: #b58863;
    color: #f7f7f7;
    font-size: 1rem;
    cursor: pointer;
}