.add-pros-inputs-parent-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.add-pros-input-div{
    width: 28rem;
    margin: 0.5rem 0 1rem 0;
}
.add-pros-input-title{
    font-size: 1rem;
    color: #3d4d55;
    margin: 0.4rem 0;
}
.add-pros-input{
    width: 80%;
    height: 1.8rem;
    padding: 0 0.4rem;
    background-color: #f7f7f7;
    border: 1px solid #3d4d55;
    border-radius: 4px;
    font-size: 0.83rem;
    box-sizing: border-box;
}
.add-pros-description-input{
    width: 80%;
    height: 7rem;
    padding: 0.4rem;
    background-color: #f7f7f7;
    border: 1px solid #3d4d55;
    border-radius: 4px;
    font-size: 0.83rem;
    box-sizing: border-box;
    resize: none;
}
.add-pros-file-label{
    display: block;
    width: 7rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: #b58863;
    color: #f7f7f7;
    font-size: 1rem;
    text-align: center;
    line-height: 2.5rem;
    cursor: pointer;
}
.add-pros-file-input{
    display: none;
}
.add-pros-file-name{
    font-size: 0.8rem;
    color: #3d4d55;
}
.add-pros-btn{
    width: 7rem;
    height: 2.5rem;
    margin: 1.5rem 0;
    border-radius: 5px;
    border: none;
    background-color: #b58863;
    color: #f7f7f7;
    font-size: 1rem;
    cursor: pointer;
}

@media only screen and (max-width: 1200px){
    .add-pros-input-div{
        width: 21rem;
    }
    .add-pros-input, .add-pros-description-input{
        width: 100%;
    }
    .add-pros-btn{
        margin: 0 0 2rem 0;
    }
}
@media only screen and (max-width: 992px){
    .add-pros-input-div{
        width: 100%;
    }
}
@media only screen and (max-width: 480px){
    .add-pros-input-title{
        font-size: 0.9rem;
    }
    .add-pros-input, .add-pros-description-input{
        font-size: 0.8rem;
    }
    .add-pros-btn, .add-pros-file-label{
        width: 6rem;
        height: 2.3rem;
        font-size: 0.9rem;
    }
    .add-pros-file-name{
        font-size: 0.7rem;
    }
}