@font-face{
    font-family: shabnam;
    src: url('./Fonts/Shabnam.ttf');
}
body{
    background-color: #d3c3b9;
    margin: 0;
    padding: 0;
    font-family: shabnam;
}
button, input, select, textarea{
    font-family: shabnam;
}
select:focus{
    outline: none;
}
.container{
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
.page-titles{
    font-size: 2rem;
    font-weight: 600;
    color: #3d4d55;
    margin: 2rem 0 1.5rem 0;
}
.dash-page-content-parent{
    margin-right: 15rem;
}
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input:focus, textarea:focus{
    outline: none;
}

@media only screen and (max-width: 1200px){
    .container{
        max-width: 960px;
    }
}
@media only screen and (max-width: 992px){
    .container{
        max-width: 720px;
    }
}
@media only screen and (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .dash-page-content-parent{
        margin-right: 0;
    }
}
@media only screen and (max-width: 480px){
    .container{
        max-width: 100%;
    }
}