.all-ords-main-div{
    width: 100%;
    margin-bottom: 1.5rem;
}
.all-ords-select-box{
    width: 7rem;
    height: 2rem;
    padding: 0 0.2rem;
    border: none;
    border-radius: 5px;
    background-color: #b58863;
    color: #f7f7f7;
    font-size: 0.9rem;
}