.details-modal-main-div{
    width: 25rem;
    height: 23rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: hsl(200, 16%, 29%);
    box-shadow: 0px 0px 10px -4px #000;
    border-radius: 5px;
}
.details-modal-p{
    font-size: 1.1rem;
    color: #f7f7f7;
    padding: 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.details-modal-btn-div{
    display: flex;
    justify-content: center;
}
.details-modal-close-btn{
    width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #b58863;
    color: #f7f7f7;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
}

@media only screen and (max-width: 768px){
    .details-modal-main-div{
        width: 23rem;
        height: 21rem;
    }
    .details-modal-p{
        font-size: 1rem;
    }
    .details-modal-close-btn{
        width: 4.8rem;
        height: 1.8rem;
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 480px){
    .details-modal-main-div{
        width: 19rem;
        height: 19rem;
    }
    .details-modal-p{
        font-size: 0.9rem;
    }
    .details-modal-close-btn{
        width: 4rem;
        height: 1.7rem;
        font-size: 0.8rem;
    }
}