.edit-modal-main-div{
    width: 20rem;
    height: 21rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #3d4d55;
    box-shadow: 0px 0px 10px -4px #000;
    border-radius: 5px;
}
.edit-modal-input-div{
    width: 80%;
    margin: 0 auto;
}
.edit-modal-input-title{
    font-size: 1rem;
    color: #f7f7f7;
}
.edit-modal-input{
    width: 100%;
    height: 1.8rem;
    padding: 0 0.4rem;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border: none;
    border-radius: 4px;
    font-size: 0.83rem;
}
.edit-modal-btns-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.edit-modal-btn{
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #b58863;
    color: #f7f7f7;
    font-size: 1rem;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .edit-modal-main-div{
        width: 18rem;
        height: 18.5rem;
    }
    .edit-modal-input-title{
        font-size: 0.9rem;
    }
    .edit-modal-input{
        height: 1.7rem;
        font-size: 0.75rem;
    }
    .edit-modal-btns-div{
        margin-top: 1.5rem;
    }
    .edit-modal-btn{
        width: 5rem;
        height: 1.8rem;
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 480px){
    .edit-modal-main-div{
        width: 17rem;
        height: 17rem;
    }
    .edit-modal-input-title{
        font-size: 0.8rem;
    }
    .edit-modal-input{
        height: 1.6rem;
        font-size: 0.7rem;
    }
    .edit-modal-btn{
        width: 4.2rem;
        height: 1.7rem;
        font-size: 0.8rem;
    }
}